body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 10px;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: auto;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

h2, h3 {
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
}

input, select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
}

.optional {
    font-size: 0.9em;
    color: gray;
}

.btn {
    background: #007bff;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    margin-bottom: 10px;
}

.btn-refresh {
    background: #6c757d;
}

.btn-refresh:hover {
    background: #5a6268;
}

.btn:hover {
    background: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    overflow-x: auto;
    display: block;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

th {
    background: #007bff;
    color: white;
}

footer {
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    background: #f3f3f3;
    color: #777;
    font-size: 14px;
    border-radius: 4px;
}

/* RESPONSIVIDAD */
@media (max-width: 800px) {
    .container {
        padding: 15px;
        max-width: 95%;
    }

    input, select, .btn {
        font-size: 16px;
        padding: 10px;
    }

    table {
        font-size: 14px;
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    th, td {
        padding: 8px;
    }
}

@media (max-width: 500px) {
    .container {
        padding: 10px;
        max-width: 100%;
    }

    h2, h3 {
        font-size: 20px;
    }

    input, select, .btn {
        font-size: 14px;
        padding: 8px;
    }

    th, td {
        font-size: 12px;
        padding: 6px;
    }
}
